* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.input_wrapper {
  display: flex;
  width: 350px;
  align-items: center;
  margin: 0 auto;
}
.input_item {
  margin: 2rem 0;
  width: 80%;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  padding: 15px 25px;
  background-color: #eee;
}
.input_btn {
  display: block;
  padding: 15px 25px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.input_btn:hover {
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.776);
}
